@font-face {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Muller/MullerLight.eot");
  src: url("../fonts/Muller/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Muller/MullerRegular.eot");
  src: url("../fonts/Muller/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Muller/MullerMedium.eot");
  src: url("../fonts/Muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.ttf") format("truetype");
}
footer {
  font-size: 16px;
}

.footer-top {
  padding: 40px 0;
}

.description-company {
  margin: 23px 0 19px;
  line-height: 1.38;
  max-width: 301px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.link:hover {
  color: #464646;
}
.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  min-width: 18px;
  height: 9px;
  margin: 0 0 0 10px;
}

.footer-box {
  margin: 16px 0 0;
}
.footer-box__title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 20px;
}

.footer-menu li {
  margin: 0 0 20px;
}
.footer-menu li:last-child {
  margin: 0;
}
.footer-menu li a {
  color: #000;
}
.footer-menu li a:hover {
  color: #f18231;
  text-decoration: underline;
}

.footer-bottom {
  padding: 40px 0;
  border-top: 1px solid #f5f4f0;
  color: #606060;
  font-size: 12px;
  font-weight: 300;
}

.link-politics {
  margin: 0 0 0 auto;
  color: #606060;
}
.link-politics:hover {
  color: #f18231;
}