@font-face {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Muller/MullerLight.eot");
  src: url("../fonts/Muller/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Muller/MullerRegular.eot");
  src: url("../fonts/Muller/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Muller/MullerMedium.eot");
  src: url("../fonts/Muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.ttf") format("truetype");
}
footer {
  font-size: 16px;
}

.footer-top {
  padding: 40px 0;
}

.description-company {
  margin: 23px 0 19px;
  line-height: 1.38;
  max-width: 301px;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}
.link:hover {
  color: #464646;
}
.link-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  min-width: 18px;
  height: 9px;
  margin: 0 0 0 10px;
}

.footer-box {
  margin: 16px 0 0;
}
.footer-box__title {
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 20px;
}

.footer-menu li {
  margin: 0 0 20px;
}
.footer-menu li:last-child {
  margin: 0;
}
.footer-menu li a {
  color: #000;
}
.footer-menu li a:hover {
  color: #f18231;
  text-decoration: underline;
}

.footer-bottom {
  padding: 40px 0;
  border-top: 1px solid #f5f4f0;
  color: #606060;
  font-size: 12px;
  font-weight: 300;
}

.link-politics {
  margin: 0 0 0 auto;
  text-align: right;
  color: #606060;
}
.link-politics:hover {
  color: #f18231;
}

.modal-backdrop {
  background: #090602;
}
.modal-backdrop.show {
  opacity: 0.7;
}

.modal-dialog {
  max-width: 420px;
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
}

.modal-content {
  background: #fff;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  padding: 60px 52px;
}
.modal-content::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: solid 1px #ece4d4;
  border-radius: 6px;
}

.modal-header {
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: none;
}
.modal-header .subtitle {
  margin: 25px 0 0;
  font-size: 20px;
  line-height: 1.3;
}
.modal-header .btn-close {
  position: absolute;
  margin: 0;
  padding: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 8px;
  right: 8px;
  opacity: 1;
  z-index: 1;
  border-radius: 13px;
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.17);
          box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.17);
  border: solid 1px #ece4d4;
  background: #ece4d4;
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-header .btn-close:hover {
  background: #f18231;
}

.modal-title {
  line-height: 1.17;
}

.modal-body {
  padding: 0;
  margin: 25px 0 0;
  border: none;
}