@font-face {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Muller/MullerLight.eot");
  src: url("../fonts/Muller/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Muller/MullerRegular.eot");
  src: url("../fonts/Muller/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Muller/MullerMedium.eot");
  src: url("../fonts/Muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.ttf") format("truetype");
}
.home {
  position: relative;
  z-index: 1;
  padding: 138px 0 55px;
  color: #fff;
}
.home-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/home-bg.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: -1;
}

.home-content {
  border-radius: 6px;
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  max-width: 710px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  padding: 60px;
}
.home-content::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border-radius: 6px;
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #fff;
  opacity: 0.22;
}
.home-content .box-text {
  margin: 48px 0 50px;
  font-size: 26px;
  line-height: 1.27;
  max-width: 470px;
}

.clients-wrapper {
  width: 100%;
  margin: 140px 0 0;
  position: relative;
  overflow: hidden;
}

.clients-logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  position: relative;
}
.clients-logos img {
  margin: 0 40px;
  max-height: 39px;
}

.about {
  padding: 390px 0 114px;
  background: url("../img/bg2.jpg") no-repeat center;
  background-size: cover;
}
.about .btn-video {
  color: #fff;
  margin: 86px 0 0;
}
.about .btn-video:hover {
  color: #f18231;
}

.about-box {
  margin: 48px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}
.about-box p {
  font-family: "BerlingskeSerif", sans-serif;
  margin: 0 22px 0 0;
  font-size: 58px;
  font-weight: bold;
}
.about-box span {
  max-width: 150px;
  line-height: 1.2;
}

.you-clients {
  padding: 100px 0;
  background: url("../img/bg3.jpg") no-repeat center;
  background-size: cover;
  overflow: hidden;
}
.you-clients h2 {
  text-align: center;
  margin: 0 auto 60px;
  max-width: 730px;
}
.you-clients .btn {
  position: relative;
  z-index: 1;
  margin: 0 auto;
}

.you-clients-wrapper {
  position: relative;
  max-width: 1263px;
  width: 100%;
  z-index: 1;
}
.you-clients-wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 40%;
  width: 1265px;
  height: 1000px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url("../img/ellipce.png") no-repeat center;
  background-size: contain;
}

.you-clients-image {
  max-width: 709px;
  width: 100%;
  height: 564px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../img/fireplace.png") no-repeat center top;
  background-size: contain;
}

.fullscreen-bg__video {
  width: 276px;
  height: 249px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 0 80px;
}

.you-clients-box {
  position: absolute;
  z-index: 1;
  padding: 0 57px 0 0;
  font-size: 20px;
  line-height: 1.2;
  max-width: 230px;
}
.you-clients-box::before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41px;
  height: 41px;
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/check.png") no-repeat center;
  background-size: cover;
  z-index: -1;
}

.you-clients-box1 {
  left: 24px;
  top: 63px;
  text-align: right;
}

.you-clients-box2 {
  left: -30px;
  top: 227px;
  text-align: right;
}

.you-clients-box3 {
  bottom: 108px;
  left: -19px;
  text-align: right;
}

.you-clients-box4, .you-clients-box5, .you-clients-box6 {
  padding: 0 0 0 57px;
}
.you-clients-box4::before, .you-clients-box5::before, .you-clients-box6::before {
  right: auto;
  left: 0;
}

.you-clients-box4 {
  right: 24px;
  top: 63px;
}

.you-clients-box5 {
  right: -30px;
  top: 227px;
}

.you-clients-box6 {
  right: -19px;
  bottom: 110px;
}

.category {
  padding: 100px 0 135px;
}
.category h2 {
  text-align: center;
  margin: 0 auto 38px;
  max-width: 900px;
}
.category .subtitle {
  margin: 0 auto 65px;
  text-align: center;
  font-size: 26px;
  width: 100%;
}

.warranty {
  position: relative;
  z-index: 1;
  padding: 147px 0 127px;
}
.warranty h2 {
  text-align: center;
  margin: 0 auto 64px;
  color: #fff;
}
.warranty h2 span {
  display: block;
}
.warranty-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url("../img/bg4.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: -1;
}
.warranty .callback-box {
  margin: 0 0 0 -290px;
}

.warranty-wrapper {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.warranty-box {
  max-width: 711px;
  width: 100%;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  background: rgba(0, 0, 0, 0.35);
  position: relative;
  z-index: 1;
  padding: 47px 44px 40px;
  color: #fffefe;
  margin: 25px 0 23px;
}
.warranty-box__body {
  width: 100%;
  font-size: 20px;
  max-width: 305px;
  line-height: 1.3;
}
.warranty-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: solid 1px #fff;
  border-radius: 6px;
  opacity: 0.22;
}

.callback-box {
  background: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  max-width: 421px;
  width: 100%;
  position: relative;
  z-index: 1;
  padding: 60px 55px;
}
.callback-box::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: solid 1px #ece4d4;
  border-radius: 6px;
}
.callback-box__title {
  width: 100%;
  font-size: 36px;
  font-family: "BerlingskeSerif", sans-serif;
}
.callback-box .subtitle {
  font-size: 20px;
  margin: 25px 0 29px;
  line-height: 1.3;
}

.warranty-document {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fffefe;
  font-size: 20px;
  font-weight: bold;
  font-family: "BerlingskeSerif", sans-serif;
  font-style: italic;
  max-width: 835px;
  width: 100%;
  margin: -90px 0 0;
}
.warranty-document__text {
  max-width: 295px;
}
.warranty-document__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 71px;
  margin: 0 24px 0 0;
  z-index: 1;
}
.warranty-document__icon:before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background: #fff;
  opacity: 0.31;
  top: 8px;
  left: 5px;
}

.advantages {
  padding: 102px 0 120px;
}
.advantages h2 {
  margin: 0 0 46px;
}
.advantages h2 span {
  display: block;
}
.advantages .btn {
  margin: 24px 0 0;
  padding: 16px 19px;
}

.quote {
  width: 100%;
  max-width: 420px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.08);
  background: #fff;
  position: relative;
  z-index: 1;
  padding: 60px 60px 58px 54px;
}
.quote::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: solid 1px #ece4d4;
  border-radius: 6px;
}
.quote .box-text {
  font-style: italic;
  line-height: 1.44;
  font-size: 18px;
  color: #606060;
  max-width: 290px;
}
.quote .box-text p {
  margin: 0 0 20px;
}
.quote .box-text p:last-child {
  margin: 0;
}

.quote-title {
  margin: 0 0 35px;
  line-height: 1.17;
  font-size: 36px;
  font-family: "BerlingskeSerif", sans-serif;
}

.advantages-box {
  margin: 44px 0 0;
  line-height: 1.25;
  max-width: 317px;
}
.advantages-box__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 25px;
}