@font-face {
  font-family: "Muller";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Muller/MullerLight.eot");
  src: url("../fonts/Muller/MullerLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerLight.woff") format("woff"), url("../fonts/Muller/MullerLight.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Muller/MullerRegular.eot");
  src: url("../fonts/Muller/MullerRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerRegular.woff") format("woff"), url("../fonts/Muller/MullerRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Muller";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Muller/MullerMedium.eot");
  src: url("../fonts/Muller/MullerMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/Muller/MullerMedium.woff") format("woff"), url("../fonts/Muller/MullerMedium.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Md.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-MdItalic.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "BerlingskeSerif";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot");
  src: url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.woff") format("woff"), url("../fonts/BerlingskeSerif/BerlingskeSerif-BoldItalic.ttf") format("truetype");
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "Muller", sans-serif;
  font-weight: normal;
  background: #fff;
  color: #000;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center;
}

a {
  display: block;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
a:hover, a:focus {
  text-decoration: none;
}

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Muller", sans-serif;
  border: solid 1px #e5e0d7;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  background: transparent;
  color: #606060;
  font-size: 16px;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
  color: #606060;
}
input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
  color: #606060;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
  color: #606060;
}
input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
  color: #606060;
}
input::placeholder, textarea::placeholder, select::placeholder {
  color: #606060;
}
input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label {
  display: block;
  width: 100%;
  margin: 0 0 16px;
}
label:last-child {
  margin: 0;
}

textarea {
  resize: none;
  padding: 12px 17px;
  height: 103px;
}

button, .btn {
  outline: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "Muller", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
}
button:hover, button:focus, .btn:hover, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  text-transform: uppercase;
}

.btn-sm {
  font-size: 12px;
  padding: 16px 22px;
  letter-spacing: 0.36px;
}

.btn-md {
  font-size: 15px;
  letter-spacing: 0;
  padding: 23.5px 29px;
}

.btn-accent {
  color: #fefefe;
  background: #f18231;
}
.btn-accent:hover {
  background: #464646;
  color: #fff;
}

.btn-grey {
  background: #464646;
  color: #fff;
}
.btn-grey:hover {
  background: #f18231;
  color: #fff;
}

.btn-border-accent {
  color: #f18231;
  border: 1px solid #f18231;
  border-radius: 6px;
  padding: 13px 15px;
  height: 36px;
  font-size: 12px;
}
.btn-border-accent:hover {
  background: #f18231;
  color: #fff;
}

.btn-grey-opacity {
  background: rgba(70, 70, 70, 0.6);
  color: #fefefe;
  font-size: 10px;
  font-weight: 500;
}
.btn-grey-opacity:hover {
  background: #f18231;
  color: #fff;
}

.btn-white {
  background: #fff;
  border: solid 1px #e3e3e3;
  color: #010101;
}
.btn-white:hover {
  background: #f18231;
  color: #fff;
  bordr-color: #f18231;
}

.btn-group {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-radius: 6px;
}

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%;
}

strong, b {
  font-weight: bold;
  display: inline-block;
}

ul, ol {
  padding: 0 0 0 20px;
}

.my-ul {
  list-style: none;
  padding: 0;
}

.list-dots {
  list-style-type: disc;
}

.list-dots-my li {
  position: relative;
  padding: 0 0 0 18px;
  margin: 0 0 20px;
}
.list-dots-my li:last-child {
  margin: 0;
}
.list-dots-my li::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f18231;
  left: 0;
  top: 8px;
  position: absolute;
}

.m-10 {
  margin: 10px 0;
}

.mb-37 {
  margin-bottom: 37px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-120 {
  margin-bottom: 120px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

.row {
  margin: 0 -15px;
}
.row > * {
  padding: 0 15px;
}

.color-accent {
  color: #f18231;
}

a.color-accent:hover {
  color: #464646;
}

.font-italic {
  font-style: italic;
}

.wrapper {
  padding: 135px 0 0;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  font-family: "BerlingskeSerif", sans-serif;
  font-weight: normal;
}
h1 span {
  font-style: italic;
  display: block;
}

h2 {
  font-size: 58px;
  font-weight: bold;
  width: 100%;
  font-family: "BerlingskeSerif", sans-serif;
}
h2 span {
  font-style: italic;
  display: block;
}

.h3 {
  font-size: 36px;
  font-family: "BerlingskeSerif", sans-serif;
  width: 100%;
  margin: 0;
}

.page h1 {
  font-size: 36px;
  font-weight: 500;
  margin: 0 0 35px;
  font-family: "Muller", sans-serif;
}

.subtitle {
  font-size: 26px;
  line-height: 1.27;
}

.btn-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}
.btn-video__text {
  position: relative;
  z-index: 1;
}
.btn-video__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 -70px;
  position: relative;
  width: 202px;
  min-width: 202px;
  height: 202px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-animation: coccoc-alo-circle-img-anim 1.4s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1.4s infinite ease-in-out;
}
.btn-video__icon:before {
  content: "";
  position: absolute;
  background: url("../img/border-btn.png") no-repeat center;
  background-size: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-video__icon:after {
  content: "";
  position: absolute;
  width: 134px;
  height: 134px;
  background: url("../img/border-btn2.png") no-repeat center;
  background-size: cover;
  border-radius: 50%;
  -webkit-animation: coccoc-alo-circle-fill-anim 2s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2s infinite ease-in-out;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.btn-video__icon span {
  display: inline-block;
  -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
          clip-path: polygon(0 0, 0% 100%, 100% 50%);
  width: 27px;
  height: 37px;
  background: #fff;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.2) skew(1deg);
            transform: rotate(0) scale(0.2) skew(1deg);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.4;
  }
}

@keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.2) skew(1deg);
            transform: rotate(0) scale(0.2) skew(1deg);
    opacity: 0.4;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.9;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.4;
  }
}
@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            transform: rotate(0) scale(0.7) skew(1deg);
    opacity: 0.2;
  }
}
@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
            transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
            transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
            transform: rotate(0) scale(1) skew(1deg);
  }
}
.list-checked li {
  margin: 0 0 30px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.list-checked li::before {
  content: "";
  width: 41px;
  min-width: 41px;
  height: 41px;
  margin: 0 16px 0 0;
  background: url("../img/check.png") no-repeat center;
  background-size: contain;
}
.list-checked li:last-child {
  margin: 0;
}

.list-disc {
  line-height: 1.5;
}
.list-disc li {
  position: relative;
  padding: 0 0 0 20px;
  margin: 0 0 15px;
}
.list-disc li:last-child {
  margin: 0;
}
.list-disc li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  border-radius: 50%;
  background: #f18231;
  width: 6px;
  height: 6px;
}

.form [type=submit] {
  width: 100%;
}

.consent {
  margin: 19px 0 0;
  width: 100%;
  color: #606060;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.25;
}

.slick-slider {
  width: 100%;
}

.slick-slide {
  outline: none;
}

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border: none;
  border-radius: 50%;
  -webkit-box-shadow: 4.1px 4.4px 21px 0 rgba(0, 0, 0, 0.18);
          box-shadow: 4.1px 4.4px 21px 0 rgba(0, 0, 0, 0.18);
  padding: 0;
  background: transparent;
}

.slick-next {
  bottom: 50px;
  background: url("../img/down.svg") no-repeat center;
  background-size: contain;
}
.slick-next:hover {
  background: url("../img/down-accent.svg") no-repeat center;
  background-size: contain;
}

.slick-prev {
  top: 50px;
  background: url("../img/up.svg") no-repeat center;
  background-size: contain;
}
.slick-prev:hover {
  background: url("../img/up-accent.svg") no-repeat center;
  background-size: contain;
}

.list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-social li {
  margin: 0 15px 0 0;
}
.list-social li:last-child {
  margin: 0;
}
.list-social li a {
  border-radius: 50%;
  background: #7d7d7d;
  padding: 12px;
  width: 44px;
  height: 44px;
  min-width: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.list-social li a:hover {
  background: #f18231;
}

.label-checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  font-size: 14px;
  margin: 0;
  cursor: pointer;
}

.inp-check {
  display: none;
}

.checkbox-custom {
  margin: 0 11px 0 0;
  position: relative;
  border-radius: 6px;
  background-color: #f7f7f7;
  width: 26px;
  height: 26px;
  min-width: 26px;
  cursor: pointer;
}

.inp-check:checked ~ .checkbox-custom {
  background: #464646 url("../img/check-white.svg") no-repeat center;
  background-size: 14px;
}

.checkbox-result-value {
  position: absolute;
  top: 50%;
  left: 100%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  padding: 18px 20px;
  border-radius: 6px;
  background-color: #fff;
  z-index: 2;
  white-space: nowrap;
  -webkit-filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.2));
  margin: 0 0 0 30px;
  font-size: 14px;
}
.checkbox-result-value::before {
  content: "";
  position: absolute;
  border-right: 17px solid #fff;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -15px;
}

.list-checkbox {
  width: 100%;
}
.list-checkbox li {
  margin: 0 0 12px;
}
.list-checkbox li:last-child {
  margin: 0;
}
.list-checkbox .label-checkbox {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.link-toggle-all {
  text-transform: uppercase;
  margin: 30px 0 0;
  font-size: 12px;
  font-weight: 500;
}
.link-toggle-all:hover {
  color: #464646;
}

.dropdown-item:hover {
  background: transparent;
  color: #f18231;
}

.breadcrumb {
  margin: 38px 0 29px;
  font-size: 14px;
}
.breadcrumb li a {
  color: #000;
}
.breadcrumb li a:hover {
  color: #f18231;
}

.breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb-item.active {
  color: #f18231;
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item {
  padding: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  padding: 0;
  margin: 0 5px;
  content: "|";
  color: #000;
}

.nav-pagination {
  width: 100%;
  margin: 20px 0;
}

.pagination {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}
.pagination .page-item {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.pagination .page-item:not(:first-child) .page-link {
  margin: 0;
}
.pagination .page-item:first-child .page-link, .pagination .page-item:last-child .page-link {
  border-radius: 0;
}
.pagination .page-item:first-child .page-link svg, .pagination .page-item:last-child .page-link svg {
  width: 9px;
  height: 16px;
}
.pagination .page-item:first-child .page-link:hover, .pagination .page-item:last-child .page-link:hover {
  background: transparent;
  fill: #f18231;
}
.pagination .page-link {
  width: 40px;
  height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: none;
  color: #000;
}
.pagination .page-link.active {
  background: #f18231;
  color: #fff;
}